.traffic-light{
    background: black;
    display: inline-block;
    padding: 20px;
    margin: auto;
}
.semaforo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.seleccionado {
    box-shadow: 0px 0px 9px 4px white;
    animation: glow 1s linear infinite alternate;
  }
  
 @keyframes glow{
    to {
      box-shadow: 0px 0px 30px 20px white;
    }
  }